
@import url(styles/header.css);
@import url(styles/main.css);


.page{
    background-color: rgb(48,44,66);
    padding: 3vw;
}
a{
    text-decoration: none;
     color: #FFFFFF;;
}

a:hover{
    color: #FF0000;

}
button{
    
    transition: all 300ms ease;
}
button:hover{
    color:rgba(117, 52, 214, 0.823);
    transform: scale(1.2);
}

