
@import url(styles/header.css);
@import url(styles/main.css);


.page{
    background-color: rgb(48,44,66);
    padding: 3vw;
}
a{
    text-decoration: none;
     color: #FFFFFF;;
}

a:hover{
    color: #FF0000;

}
button:hover{
    color:rgba(117, 52, 214, 0.823);
    transition: 160ms ease-in-out;
    transform: scale(1.2);
}

.Aziz{
    color: aliceblue;
   
    
  
}
.shovel{
    position: relative;
    top: 70vh;
    animation: spinAround 6s linear infinite;;
}

@keyframes spinAround {
    from {
      transform: rotate(0deg) translate(120px);
    }
    to {
      transform: rotate(360deg) translate(120px);
    }
  }