.main__text_color{
    color: #C0B7E8;
    font-size: 2.3958vw
}
.main__title{
    color: rgb(255, 255, 255);
  margin-top: 13vw;
  font-size: 2.3958vw;
}
.main__paragraph{
    color: aliceblue;
}
.main__buttton{
    margin: 20px;
    font-size: 12px;
    padding: 13px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    background: rgb(80,70,120);
background: linear-gradient(93deg, rgba(80,70,120,1) 0%, rgba(192,183,232,1) 100%);
}


.main__img{
    position: absolute;
    right: 1.2vw;
    border-radius: 5vw 5vw 5vw 12vw;
    width: 25.3646vw;
    height: 21.1979vw;
    margin-top: 20px;
}
.back__img{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.288);
    right: 20vw;
    width: 27.2917vw;
    height: 23.6979vw;
    border-radius: 5vw 5vw 5vw 12vw;
 top: 17vw;
   
}

.img__logo{
    position: absolute;
    width: 20vw;
    top: 2vw;
}

.main__card__contact{
    background: rgb(96,84,154);
background: radial-gradient(circle, rgba(96,84,154,1) 0%, rgba(33,30,46,1) 78%);
display: flex;
justify-content: space-around;
text-align: center;
height: 20vh;
position: relative;
top: 20vh;
border-radius: 5vw;
width: 80vw;
left: 5vw;
}
.card__content{
    margin-top: 3vw;
    color: white;
    font-weight: 600;
    font-size: 1.9vw;
}
.main__span{
    margin-top: 0.3vw;
    color: white;
    font-weight: 4;
    font-size: 14px;
    display: flex;
}
.card__img{
    position: relative;
}

.main__card__img{
    position: relative;
    height: 10px;
    width: 10px;
    z-index: 2;
    display: flex;
    top: 7vw;
    left: 9vw;
}
.card__img{
    height: 9.3854vw;
    width: 20vw;
}
.card__img__kon{
    height: 9.3854vw;
    margin-left: 1vw;
    width: 20vw;
}
.card__img__call{
    margin-left: 4vw;
    height: 9.3854vw;
    width: 20vw;
}
.card__INTRODUCTION{
    position: relative;
    top: 18vw;
}
.card__title{
    font-size: 1.8750vw;
    color: aliceblue;
    font-weight: 900;
}
.card__title__negr{
    font-size: 1.8750vw;
    color: aliceblue;
    font-weight: 900;
    position: absolute;
    right: 32vw;
    top: 20vw;
}
.card_p{
    font-size: 1.8750vw;
    color: aliceblue;
    font-weight: 100;
}

.negr__img{
   
    border-radius: 12vw 5vw 12vw 5vw
}
.negr__text{
    position: absolute;
    color: aliceblue;
    width:40%;
    margin:0 auto;
    right: 5vw;
    top: 1vw;
    line-height: 1.7vw;
}
.card__negro__text{
    position: absolute;
    color: aliceblue;
    width:40%;
    margin:0 auto;
    right: 5vw;
    top: 30vw;
    line-height: 1.7vw;
}
.card__negr__button{
    background: rgb(80,70,120);
background: linear-gradient(93deg, rgba(80,70,120,1) 0%, rgba(192,183,232,1) 100%);
padding: 1vw;
border-radius: 20px;
font-weight: 600;
border: none;
position: absolute;
top: 46vw;
right: 31vw;
}
button:hover{
 
    transform: scale(1vw);
}